* {
  box-sizing: border-box;
  background: tomato;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-content: center;
  height: 99vh;
  overflow: hidden;
}

.board-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.board {
  display: grid;
  gap: 10px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "one two three"
    "four five six"
    "seven eight nine";
  height: 500px;
  width: 500px;
}

.square {
  font-family: "Roboto Mono";
  font-size: 3rem;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#button-container {
  display: flex;
  justify-content: space-around;
  align-content: space-around;
  color: white;
  padding-top: 10px;
}
.button {
  background: white;
  font-family: 'Roboto Mono';
  font-weight: bold;
  padding: 0 1rem 0 1rem;
  border: none;
}